
*{
    box-sizing: border-box;
}

@mixin hoverAnim{
    transition: scale 0.3s ease-in-out;
    &:hover{
        scale:1.05;
    }
}
body{
   margin:0;
   font-family: 'e-Ukraine';
    font-weight: normal;
    font-style: normal;
    padding:0;
}
.wrapper{   
    width:100%;

}

video {
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;
  
    z-index:1;
    position: absolute;
    top: 0;
    left: 0;
  }
.first-block{
    position: relative;
    

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
    h1{
        z-index:2;
    }
}

.logo{
    z-index:2;
    font-size:32px;
    font-family: 'e-Ukraine Head LOGO';
    font-weight: 500;
    font-style: normal;

    display:flex;
    justify-content: space-between;
    align-items: center;

    cursor: default;
    user-select: none;
    gap:8px;
    img{
        flex-grow:0;
        flex-shrink: 0;
        width:128px;
        aspect-ratio: 1;
    }

    @include hoverAnim;
}
.cabin-block{
    position: relative;
    background:white;
    width: 100%;
    padding:0px 8px 32px;
    h2{
        text-align: center;
        font-size:48px;
        font-family: 'e-Ukraine Head';
        font-weight: normal;
        font-style: normal;
    }

    .cabin{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @media (width<=800px){
            grid-template-columns: 1fr 1fr;
        }
        max-width: 1280px;
        margin-inline: auto;
        gap:8px;
        
        position: relative;
        &__item{
            background: #ECEAEC;
            
            padding:32px 16px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:32px;

            &-label{
                font-size: 32px;
            }
            &-state{
                font-size:24px;
            }
        }
    }
}
.text-block{
    position: relative;
    background:linear-gradient(to right,#04C65D , #5B5AFF);
    width: 100%;

    padding:32px 8px;
    &__content{
        max-width: 1280px;
        margin-inline: auto;
        
        h2{
            font-size:60px;
            font-family: 'e-Ukraine Head';
            font-weight: 300;
            font-style: normal;
        }
        p{
            margin:8px;
            font-size:20px;
            font-family: 'e-Ukraine';
            font-weight: 300;
            font-style: normal;
        }
    }
}

.service-block{
    position: relative;
    background:white;
    width: 100%;
    padding:0px 8px 32px;
    h2{
        text-align: center;
        font-size:48px;
        font-family: 'e-Ukraine Head';
        font-weight: normal;
        font-style: normal;
    }
    .service{
        padding:32px;
        background: #ECEAEC;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media (width<=800px){
            grid-template-columns: 1fr;
        }
        max-width: 1280px;
        margin-inline: auto;
        gap:16px;
        
        position: relative;
        &__item{
            @include hoverAnim;
            position: relative;
            img{
                width:100%;
            }
        }
    }
    
}
.footer-block{
    position: relative;
    background:black;
    width: 100%;
    padding:32px 8px;
    color:white;

   

    &__content{
        max-width: 1280px;
        margin-inline: auto;

        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap:48px;
    }
    .block{
        width:70%;
    }
    h1{
        font-size:60px;
        font-family: 'e-Ukraine Head';
        font-weight: 300;
        font-style: normal;
        @media (width<=800px){
            font-size:48px;
        }
    }
    p{
        margin:8px;
        font-size:20px;
        font-family: 'e-Ukraine';
        font-weight: 300;
        font-style: normal;
    }
    li{
        margin:8px;
        font-size:20px;
        font-family: 'e-Ukraine';
        font-weight: 300;
        font-style: normal;
    }
    .right{
        text-align: right;
        align-self: flex-end;
    }
    .center{
        text-align: center;
        align-self: center;
    }
}
.error{
    padding:8px;
    background:#FF3800;
}
.warning{
    padding:8px;
    background:#FFDB4D;
}
.sucess{
    padding:8px;
    background:#04C65D;
}